/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid 1px; */
}

img {
  /* display: block; */
  vertical-align: middle;
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #4b4b4b;
  /* color: inherit; */

  /* padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px; */
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  /* line-height: 150%; */
}

.container {
  max-width: 100vw;
  margin: 0 auto;
}
/* navbar */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header li {
  margin: 20px 15px;
  list-style: none;
}

/* guided-tour */
.guided-tour {
  display: flex;
  justify-content: space-evenly;
  gap: 0px 24px;
}

.guided-tour img {
  width: 50%;
  object-fit: cover;
}

/* guided-tour1 */
.guided-tour .guided-tour-about {
  width: 50%;
  background-image: url("/images/desktop/index/Hero-Section2.png");
}

.guided-tour .guided-tour-about .guided-tour-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.guided-tour .guided-tour-about .guided-tour-content h2 {
  color: #0027d5;
  margin-right: 10px;
  font-size: 32px;
  /* padding-top: 15px; */
}

.guided-tour .guided-tour-about .guided-tour-content h3 {
  color: #0027d5;
  margin-right: 10px;
  font-size: 20px;
  /* padding-top: 15px; */
}
/* guided-tour1&2 */
.guided-tour .guided-tour-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guided-tour .guided-tour-content p {
  font-size: 16px;
  margin-bottom: 0px;
}

.guided-tour .guided-tour-content b {
  font-size: 22px;
  margin-top: 0px;
}

.guided-tour .guided-tour-content .guided-tour-article-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.guided-tour .guided-tour-content .guided-tour-article-title h3 {
  color: #0027d5;
  margin-right: 10px;
  font-size: 20px;
  /* padding-top: 15px; */
}

.guided-tour .guided-tour-content .guided-tour-article-title a {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 4px;
  border: solid 1px #0027d5;
  background-color: #0027d5;
  border-radius: 80px;
}

@media (max-width: 1320px) {
  .guided-tour {
    flex-direction: column;
  }
  .guided-tour img {
    width: 100%;
  }

  .guided-tour .guided-tour-about {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .guided-tour .guided-tour-content {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 150px;
  }
}

@media (max-width: 767px) {
  .guided-tour .guided-tour-content {
    padding-left: 37px;
  }
}

.content {
  padding: 100px 300px;
}
/* content-search-bar */
.content .content-search {
  margin-bottom: 40px;
}

.content .content-search .content-search-bar {
  width: 32%;
  font-size: 16px;
  border-radius: 80px;
  padding: 16px 48px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/751/751463.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 25px;
}
/* content-card-list */
.content .article-list {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 80  px 24px; */
}

.content .card {
  width: 32%;

  margin-bottom: 40px;
}

.content .card .hashtag {
  font-size: 24px;
  color: #0027d5;
  margin-right: 8px;
}

.content .card .title {
  font-size: 28px;
  font-weight: 700;
}

.content .card .text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 20px;
}

.content .btn {
  padding: 8px 16px;
  border: solid 1px #000;
  border-radius: 80px;
}

.content .btn:hover {
  background: #000;
  color: white;
}

/* content-page-list */

.content .page-bar {
  max-width: 100%;
  margin: 0 auto;
}

.content .page-bar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.content .page-bar ul li {
  margin: 10px;
}

/* content-blog-detail-elements */
.content h2,
h3,
p,
img,
.content-advise {
  margin-bottom: 20px;
}

.content-advise p {
  margin-bottom: 0px;
}

.content h2 {
  color: #0027d5;
  font-size: 32px;
}

.content h3 {
  font-size: 24px;
}

.content ul,
ol {
  margin-left: 20px;
}

.content .content-tip {
  border-radius: 10px;
  padding: 15px;
  background-color: #ededed;
}

/* content-end-btn */
.content .content-end {
  display: flex;
  justify-content: space-between;
}
.content .content-end a {
  color: #4b4b4b;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  border: #4b4b4b 1px solid;
  border-width: 1px;
  border-radius: 40px;
  line-height: 150%;
}

@media (max-width: 1320px) {
  .content {
    padding: 50px 150px;
  }

  .content .content-search {
    text-align: center;
  }
  .content .content-search .content-search-bar {
    width: 100%;
    font-size: 24px;
  }

  .content .article-list {
    justify-content: space-between;
  }

  .content .card {
    width: 48%;
  }

  .content .card .hashtag {
    font-size: 18px;
    color: #0027d5;
    margin-right: 8px;
  }

  .content .card .title {
    font-size: 22px;
    font-weight: 500;
  }

  .content .page-bar {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 25px 37px;
  }

  .content .card {
    width: 100%;
  }

  .content .page-be,
  .page-af {
    margin: 0px 1px;
  }
}

@media (max-width: 425px) {
  .content .page-bar a {
    font-size: 10px;
  }
}

/* footer */
.footer {
  padding: 5px 300px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-contact ul {
  display: flex;
  list-style: none;
}

.footer p {
  text-align: center;
}

@media (max-width: 1320px) {
  .footer {
    padding: 25px 150px;
  }
}

@media (max-width: 767px) {
  .footer-contact {
    flex-direction: column;
    align-items: center;
  }
  .footer {
    padding: 25px 37px;
  }
}

@media (max-width: 425px) {
  .footer p {
    font-size: 12px;
  }
}
