/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid 1px; */
}

img {
  /* display: block; */
  vertical-align: middle;
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #4b4b4b;
  /* color: inherit; */

  /* padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px; */
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  /* line-height: 150%; */
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
}

.header li {
  margin: 20px 15px;
  list-style: none;
}

.card {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}

.card img {
  flex: 1;
  height: 100%;
}

.card .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .card-content p {
  font-size: 16px;
  margin-bottom: 0px;
}

.card .card-content b {
  font-size: 22px;
  margin-top: 0px;
}

.card .card-content .card-article-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card .card-content .card-article-title h3 {
  color: #0027d5;
  margin-right: 10px;
  font-size: 20px;
  /* padding-top: 15px; */
}

.card .card-content .card-article-title a {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 4px;
  border: solid 1px #0027d5;
  background-color: #0027d5;
  border-radius: 80px;
}

@media (max-width: 1320px) {
  .card {
    flex-direction: column;
  }
  .card img {
    height: 50%;
  }

  .card-content {
    padding-left: 150px;
  }
}

@media (max-width: 767px) {
  .card-content {
    padding-left: 37px;
  }
}

.content {
  padding: 100px 300px;
}

.content h2,
h3,
p,
img,
.content-advise {
  margin-bottom: 20px;
}

.content-advise p {
  margin-bottom: 0px;
}

.content h2 {
  color: #0027d5;
  font-size: 32px;
}

.content h3 {
  font-size: 24px;
}

.content ul,
ol {
  margin-left: 20px;
}

.content .content-tip {
  border-radius: 10px;
  padding: 15px;
  background-color: #ededed;
}

.content .content-end {
  display: flex;
  justify-content: space-between;
}
.content .content-end a {
  color: #4b4b4b;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  border: #4b4b4b 1px solid;
  border-width: 1px;
  border-radius: 40px;
  line-height: 150%;
}

.footer {
  padding: 5px 300px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
}

.footer-contact ul {
  display: flex;
  list-style: none;
}

.footer p {
  text-align: center;
}

@media (max-width: 1320px) {
  .content {
    padding: 50px 150px;
  }
  .footer {
    padding: 25px 150px;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 25px 37px;
  }
  .footer-contact {
    flex-direction: column;
    align-items: center;
  }
  .footer {
    padding: 25px 37px;
  }
}
